@media screen and (max-width: 768px) {
  .body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.header {
  background: #fff;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__logo {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

.reset_password_form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: rgb(228, 226, 226);
  padding: 20px 0 20px 0;
}

.email,
.password_button,
.confirmation_button {
  border: 1px solid #ddd;
  margin: 0 auto 10px;
  border-radius: 3px;
  appearance: none;
}